{% include 'kuma.base.deploy.yaml.j2' %}
          command:
            - /usr/local/bin/newrelic-admin
          args:
            - run-program
            - celery
            - "--app=kuma.celery:app"
            - worker
            - "--loglevel=INFO"
            - "--logfile=/dev/stdout"
            - "--concurrency={{ CELERY_WORKERS_CONCURRENCY }}"
            - "--queues={{ CELERY_WORKERS_QUEUES }}"
