apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: {{ KUMA_NAME }}
  labels:
    app: {{ KUMA_NAME }}
    environment: {{ TARGET_ENVIRONMENT }}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ KUMA_NAME }}
  minReplicas: {{ KUMA_REPLICAS }}
  maxReplicas: {{ KUMA_MAX_REPLICAS }}
  targetCPUUtilizationPercentage: 80
