apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: {{ KUMASCRIPT_NAME }}
  labels:
    app: {{ KUMASCRIPT_NAME }}
    environment: {{ TARGET_ENVIRONMENT }}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ KUMASCRIPT_NAME }}
  minReplicas: {{ KUMASCRIPT_REPLICAS }}
  maxReplicas: {{ KUMASCRIPT_MAX_REPLICAS }}
  targetCPUUtilizationPercentage: 80
