kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{ KUMA_NAME }}
spec:
  replicas: {{ KUMA_REPLICAS }}
  selector:
    matchLabels:
      app: {{ KUMA_APP_LABEL }}
  template:
    metadata:
      labels:
        app: {{ KUMA_APP_LABEL }}
    spec:
{% include 'kuma.base.yaml.j2' %}
