apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ ADMIN_NODE_NAME }}
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: {{ ADMIN_NODE_NAME }}
    spec:
      containers:
        - name: {{ ADMIN_NODE_NAME }}
          image: mdnwebdocs/mdn-admin:2f6c560
          command: [ "/bin/bash", "-c", "--" ]
          args: [ "while true; do sleep 30; done;" ]
          volumeMounts:
            - mountPath: {{ BACKUP_MOUNT_DIR }}
              name: {{ SHARED_PVC_NAME }}
          env:
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: mdn-admin-node-secrets
                  key: access_key
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: mdn-admin-node-secrets
                  key: secret_key
      volumes:
        - name: {{ SHARED_PVC_NAME }}
          persistentVolumeClaim:
            claimName: {{ SHARED_PVC_NAME }}
