apiVersion: v1
kind: Secret
metadata:
  name: percona-toolkit-ptkill-secrets
  namespace: percona-toolkit
type: Opaque
data: {}
stringData:
    pt_cmd: pt-kill --log --busy-time=1h --kill h=somehost,D=somedb,u=someuser,p=SuperSecurePassword
