kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name: {{ SSR_NAME }}
spec:
  replicas: {{ SSR_REPLICAS }}
  template:
    metadata:
      labels:
        app: {{ SSR_SERVICE_NAME }}
    spec:
      containers:
        - name: {{ SSR_NAME }}
          image: "{{ KUMA_IMAGE }}:{{ KUMA_IMAGE_TAG }}"
          imagePullPolicy: {{ KUMA_IMAGE_PULL_POLICY }}
          command:
            - node
          args:
            - kuma/javascript/ssr-server.js
          ports:
            - containerPort: {{ SSR_CONTAINER_PORT }}
          env:
            - name: NEW_RELIC_APP_NAME
              value: {{ NEW_RELIC_SSR_NAME }}
              # Node servers use ENABLED instead of MONITOR_MODE
            - name: NEW_RELIC_ENABLED
              value: "{{ NEW_RELIC_MONITOR_MODE }}"
            - name: NEW_RELIC_LABELS
              value: "{{ NEW_RELIC_LABELS }}"
            - name: NEW_RELIC_LOG
              value: "{{ NEW_RELIC_LOG }}"
            - name: NEW_RELIC_BROWSER_MONITOR_ENABLE
              value: "{{ NEW_RELIC_BROWSER_MONITOR_ENABLE }}"
            - name: NEW_RELIC_HIGH_SECURITY
              value: "true"
            - name: NEW_RELIC_NO_CONFIG_FILE
              value: "true"
            - name: NEW_RELIC_LOG_LEVEL
              value: "{{ NEW_RELIC_LOG_LEVEL }}"
            - name: NEW_RELIC_LICENSE_KEY
              valueFrom:
                secretKeyRef:
                  name: newrelic-secrets
                  key: NEW_RELIC_LICENSE_KEY
            - name: NODE_ENV
              value: "production"
            - name: SENTRY_DSN
              valueFrom:
                secretKeyRef:
                  name: mdn-secrets
                  key: sentry-dsn
            - name: SENTRY_ENVIRONMENT
              value: "{{ K8S_CLUSTER_SHORT_NAME }}:{{ TARGET_ENVIRONMENT }}"
            - name: SSR_PORT
              value: "{{ SSR_CONTAINER_PORT }}"
          resources:
            requests:
              cpu: {{ SSR_CPU_REQUEST }}
              memory: {{ SSR_MEMORY_REQUEST }}
            limits:
              cpu: {{ SSR_CPU_LIMIT }}
              memory: {{ SSR_MEMORY_LIMIT }}
          livenessProbe:
            httpGet:
              path: /healthz
              port: {{ SSR_CONTAINER_PORT }}
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /readiness
              port: {{ SSR_CONTAINER_PORT }}
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
