{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Action": "ec2:DeleteNetworkAclEntry",
      "Resource": "arn:aws:ec2:us-west-2:${account_id}:network-acl/${us-west-2-nacl-id}"
    },
    {
      "Effect": "Allow",
      "Action": [
        "ec2:ReplaceNetworkAclEntry",
        "ec2:CreateNetworkAclEntry",
        "ec2:DescribeNetworkAcls"
      ],
      "Resource": "*"
    }
  ]
}
